---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="产品服务">
  <section class="flex flex-col justify-center items-center flex-1">
    <span class="text-gray-400"> 联系我们 待开发</span>
  </section>
</BaseLayout>
